# SPDX-License-Identifier: GPL-2.0
menu "IO Schedulers"

config MQ_IOSCHED_SSG
	tristate "SamSung Generic I/O scheduler"
	default n
	help
	  SamSung Generic IO scheduler.

config MQ_IOSCHED_SSG_CGROUP
	tristate "Control Group for SamSung Generic I/O scheduler"
	default n
	depends on BLK_CGROUP
	depends on MQ_IOSCHED_SSG
	help
	  Control Group for SamSung Generic IO scheduler.

config MQ_IOSCHED_SSG_WB
	tristate "Write Booster for SamSung Generic I/O scheduler"
	default n
	depends on MQ_IOSCHED_SSG
	help
	  Write Booster for SamSung Generic IO scheduler.

endmenu
